body{
    background-image: url("../../assets/main-fondo.jpg");
    width: 100%;
  }

  .productos {
    background-color: white;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.card{
  border: none;
  padding: 10px;    
}

.navbar{
  background: white;
  border-style: none none solid none;
  border-color: black;
  border-width: 1px;
}

input{
  border-radius: 15px;
  
}  