<div class="container">
  <t-barra-superior></t-barra-superior>

  <br>

  <nav class="nav-extended grey lighten-5">
    <div class="nav-wrapper col-9">
      <a href="#" class="brand-logo grey-text">Catalogo de productos</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down col-3 justify-content-center">
        <li>
          <h6 class="grey-text icon_prefix">¿Que estas buscando?</h6> 
          <input placeholder="Buscar producto.." id="icon_prefix" type="text" class="grey-text" (keyup)="buscador(texto.value)" #texto>
        </li>
      </ul>
    </div><br/>

    <div class="center-align">
      <div class="productos">
        <div *ngFor="let producto of subproducto" class="col-3 shadow-sm colspan" style="width: 30%">
          <br>
          <div class="card hoverable">
            <img class="card-image"[src]="'../../assets/' + producto.imagen" style="width: 20%" >
            
              <h5 class="card-title grey-text">{{producto.nombre}}</h5>
              <h6 class="grey-text"><b>Precio:</b> ${{producto.precio}}</h6>
              <h6 class="grey-text"><b>Unidades Disponibles:</b> {{producto.stock}}</h6>
              
                <button class="waves-effect waves-light btn" (click)="vermas(producto.nombre)">Ver Más</button>
                <button class="waves-effect waves-light btn" (click)="agregar(producto.imagen,producto.nombre,producto.precio, uni.value)">Añadir</button>
                <input class="input-field col s6 grey-text" style="width:40px" type="number" value="1" min="1" [max]="producto.unidades" #uni>
              
              </div>
        </div>
      </div>
    </div>
  </nav>
</div>