.c-login{
  background-image: url("../../assets/login-fondo.jpg");
  width: 100%;
  background-position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.valign-wrapper {
    height: 100vh;
  }