<div class="container">
  <t-barra-superior></t-barra-superior>

  <br>

  <nav class="nav-extended grey lighten-5">    
    <div class="nav-wrapper col-9 center-align">
    <div class="col-5">
      <h1 class="grey-text">{{nombre}}</h1>
    
      <img [src]="'../../assets/' + imagen" width="20%" height="20%">
    </div>
    <div class="col-6">
      <h3 class="grey-text"><b>Precio: </b>${{precio}}</h3>
      <h3 class="grey-text"><b>Unidades Disponibles: </b>{{stock}}</h3>
    </div>
  
  <div class="row">
    <button class="btn btn-danger" (click)="atras()">Volver</button>
  </div>
</div>
  </nav>

</div>